.columns {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @include mediaquery("tablet") {
    flex-direction: row;
  }
}

.column {
  flex-grow: 0;
  position: relative;

  @include mediaquery("tablet") {
    padding: 0 10px;
  }
}

@for $i from 1 through $columns {
  .column--#{$i} {
     width: 100%;

     @include mediaquery("tablet") {
       width: ((100% / $columns) * $i);
     }
  }
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  padding-right: 0;
}
