@mixin mediaquery($size){
  $query: map-get($breakpoints, $size);

  @media #{$query}{
    @content;
  }
}

@mixin maxwidth($top: 0px, $size: #{$max-width}) {
  padding: $top 20px;
  margin: 0 auto;
  content: $size;

  @media (min-width: #{$size} + 40) {
    padding: $top calc((100vw - #{$size}) / 2);
  }
}

@mixin flexibleFontSize($size: 10) {
  font-size: 460px * ($size / 100);

  @include mediaquery("mobile") {
    font-size: #{$size}vw;
  }

  @include mediaquery("max-width") {
    font-size: $max-width * ($size / 100);
  }
}
