@mixin mediaquery($size){
  $query: map-get($breakpoints, $size);

  @media #{$query}{
    @content;
  }
}

@mixin maxwidth($top: 0px) {
  padding: $top calc((100vw - #{$max-width}) / 2);
  margin: 0 auto;
}
