.title {
  margin: 1em 0;
  font-size: 16px;

  &--small {
    @include flexibleFontSize(3);
    line-height: 1.25em;
  }

  &--medium {
    @include flexibleFontSize(3.75);
    line-height: 1.25em;
  }

  &--large {
    @include flexibleFontSize(6);
    line-height: 1.25em;
  }
}
