$sans-serif: "Raleway", sans-serif;

$max-width: 960px;
$columns: 12;

$breakpoints: (
  "mobile":           "(min-width: 460px)",
  "mobile-large":     "(min-width: 580px)",
  "tablet":           "(min-width: 768px)",
  "desktop":          "(min-width: 1024px)",
  "desktop-large":    "(min-width: 1200px)",
  "max-width":        "(min-width: #{$max-width})"
);
