@charset "UTF-8";
* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  line-height: 1.5em; }

a {
  color: #f43059;
  text-decoration: none; }
  a:hover {
    color: #cd0b33;
    text-decoration: underline; }

.content {
  padding: 0px calc((100vw - 960px) / 2);
  margin: 0 auto; }

.divider {
  background: #e1e1e1;
  border: 0;
  height: 1px;
  width: 100%; }

.button {
  display: block;
  background: #f43059;
  color: #fff;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 300;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  position: relative; }
  .button:hover, .button:active {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background: #cd0b33; }
  .button:focus {
    outline: 0; }
  .button--block {
    display: block;
    text-align: center;
    width: 100%; }
  .button--secondary {
    background: #e7e7e7;
    color: #333; }
    .button--secondary:hover {
      background: #e2e2e2;
      color: #000; }

.button__icon {
  font-style: normal;
  font-size: 14px; }

.columns {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%; }

.column {
  flex-grow: 0;
  position: relative;
  padding: 0 10px; }

.column--1 {
  width: 8.3333333333%; }

.column--2 {
  width: 16.6666666667%; }

.column--3 {
  width: 25%; }

.column--4 {
  width: 33.3333333333%; }

.column--5 {
  width: 41.6666666667%; }

.column--6 {
  width: 50%; }

.column--7 {
  width: 58.3333333333%; }

.column--8 {
  width: 66.6666666667%; }

.column--9 {
  width: 75%; }

.column--10 {
  width: 83.3333333333%; }

.column--11 {
  width: 91.6666666667%; }

.column--12 {
  width: 100%; }

.column:first-child {
  padding-left: 0; }

.column:last-child {
  padding-right: 0; }

.menu {
  padding: 20px calc((100vw - 960px) / 2);
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0; }

.menu__item {
  padding: 10px; }
  .menu__item:first-of-type {
    padding-left: 0; }
  .menu__item:last-of-type {
    padding-right: 0; }

.menu__link {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: normal; }
  .menu__link:hover {
    color: #222; }
  .menu__link--is-active {
    color: #222;
    font-weight: bold; }

.menu__actions {
  margin-left: auto; }

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(120%); }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%); } }

@keyframes dropdownFadeOut {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(100%); }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(120%); } }

.dropdown {
  position: relative; }

.dropdown__bubble {
  position: absolute;
  z-index: 50;
  display: none;
  background: #fff;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%) translateY(100%);
  padding: 10px;
  min-width: 120px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.075), 0 3px 15px rgba(0, 0, 0, 0.1);
  animation: dropdownFadeIn 200ms; }
  .dropdown__bubble--is-active {
    display: block; }
  .dropdown__bubble--is-moving-out {
    animation: dropdownFadeOut 200ms; }
  .dropdown__bubble::after {
    content: '▲';
    color: #fff;
    display: block;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 -3px 3px rgba(0, 0, 0, 0.04), 0 -10px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px; }

.dropdown__content {
  color: #333; }

.header {
  width: 100%;
  position: relative;
  min-height: 400px;
  display: flex; }

.header__content {
  padding: 0px calc((100vw - 960px) / 2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1; }

.header__title {
  margin: 0 0 20px;
  font-size: 60px;
  font-weight: 600; }

.header__background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("http://placehold.it/1920x400/e5e5e5/d2d2d2");
  background-size: cover;
  background-position: center; }

.footer {
  padding: 10px calc((100vw - 960px) / 2);
  margin: 0 auto;
  background: #fff;
  border-top: 1px solid #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.menu--footer__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0; }

.menu--footer__item {
  padding: 5px 10px; }
  .menu--footer__item:first-of-type {
    padding-left: 0; }
  .menu--footer__item:last-of-type {
    padding-right: 0; }

.menu--footer__link {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: normal; }
  .menu--footer__link:hover {
    color: #222; }
  .menu--footer__link--is-active {
    color: #222;
    font-weight: bold; }
